<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DockerTask.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>FetchPackages.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38F4ED8D1D4A97B7004D7D21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38F4EDD11D4C90EF004D7D21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_DockerTask</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_DockerTaskTestSuite</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
